.board {
    .movable-space:hover {
        --piece-scale: 1.25;
    }

    &.moving {
        :global(.UsBoardSpace-root):not(:global(.UsBoardSpace-droppable)) {
            filter: saturate(25%);
        }

        :global(.UsBoardSpace-root.UsBoardSpace-activeDroppable),
        &.selecting :global(.UsBoardSpace-root.UsBoardSpace-droppable):hover {
            filter: saturate(175%);
            cursor: pointer;
        }

        :global(.UsBoardSpace-root).active-space {
            z-index: 1;
            filter: none;
            --piece-scale: 1.5;
        }
    }

    &:focus {
        outline: none;

        &.show-focus .focused-space {
            box-shadow: 0 0 3px 3px black inset, 0 0 5px 5px white inset;
        }
    }
}
