.maxima-board {
    display: grid;
    //11x8 grid with space on the outside for an optional border
    grid: 0.5fr repeat(11, 1fr) 0.5fr / 0.5fr repeat(8, 1fr) 0.5fr;
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(95, 87, 78);
    user-select: none;

    &.no-border {
        grid: repeat(11, 1fr) / repeat(8, 1fr);

        //Manually round out the inner corners if we're not showing the border
        $inner-border-radius: 5px;
        .row {
            &:first-child :global(.UsBoardSpace-root) {
                &:first-child {
                    border-top-left-radius: $inner-border-radius;
                }

                &:last-child {
                    border-top-right-radius: $inner-border-radius;
                }
            }

            &:last-child :global(.UsBoardSpace-root) {
                &:first-child {
                    border-bottom-left-radius: $inner-border-radius;
                }

                &:last-child {
                    border-bottom-right-radius: $inner-border-radius;
                }
            }
        }
    }

    .row {
        display: contents;

        .border-space {
            display: flex;

            .label {
                color: white;
                margin: auto;
            }
        }

        $dark-color: rgb(146, 64, 38);
        $light-color: rgb(246, 216, 188);

        &:not(.goal-row) {
            &:nth-of-type(odd) {
                :global(.UsBoardSpace-root) {
                    &:nth-of-type(odd) {
                        --space-color: #{$light-color};
                    }

                    &:nth-of-type(even) {
                        --space-color: #{$dark-color};
                    }
                }
            }

            &:nth-of-type(even) {
                :global(.UsBoardSpace-root) {
                    &:nth-of-type(odd) {
                        --space-color: #{$dark-color};
                    }

                    &:nth-of-type(even) {
                        --space-color: #{$light-color};
                    }
                }
            }
        }

        $dark-goal-color: rgb(112, 135, 96);
        $light-goal-color: rgb(164, 183, 149);

        &.goal-row :global(.UsBoardSpace-root) {
            &:first-of-type {
                --space-color: #{$dark-goal-color};
            }

            &:last-of-type {
                --space-color: #{$light-goal-color};
            }
        }
    }

    .immobilized-icon {
        background-color: cornflowerblue;
        color: white;
        border-radius: 100%;
        position: absolute;
        top: 5px;
        right: 5px;
        line-height: 1;
        width: 20px;
        height: 20px;
        font-size: 20px;
    }

    .self-capture-button {
        border: none;
        background: darkred;
        color: white;
        padding: 1px;
        border-radius: 100%;
        position: absolute;
        bottom: 5px;
        right: 5px;
        line-height: 1;
        width: 20px;
        height: 20px;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            filter: brightness(1.2);
        }

        &:active {
            filter: brightness(0.9);
        }
    }
}
