.piece {
    height: 75%;
    width: 75%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4em;

    &.white {
        color: white;
        text-shadow: 0 0 3px black;
    }

    &.black {
        color: black;
        text-shadow: 0 0 3px white;
    }

    .draggable {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }

    .graphic {
        width: 100%;
        height: 100%;
        transform: scale(var(--piece-scale, 1));
        transition: transform 0.15s ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img, svg {
        width: 100%;
        height: 100%;
    }
}
