.rococo-board {
    $board-size: 10;

    display: grid;
    //10x10 grid with space on the outside for an optional border
    grid: 0.5fr repeat($board-size, 1fr) 0.5fr / 0.5fr repeat($board-size, 1fr) 0.5fr;
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(95, 87, 78);
    user-select: none;

    &.no-border {
        grid: repeat($board-size, 1fr) / repeat($board-size, 1fr);

        //Manually round out the inner corners if we're not showing the border
        $inner-border-radius: 5px;
        .row {
            &:first-child :global(.UsBoardSpace-root) {
                &:first-child {
                    border-top-left-radius: $inner-border-radius;
                }

                &:last-child {
                    border-top-right-radius: $inner-border-radius;
                }
            }

            &:last-child :global(.UsBoardSpace-root) {
                &:first-child {
                    border-bottom-left-radius: $inner-border-radius;
                }

                &:last-child {
                    border-bottom-right-radius: $inner-border-radius;
                }
            }
        }
    }

    .row {
        display: contents;

        .border-space {
            display: flex;

            .label {
                color: white;
                margin: auto;
            }
        }

        $base-dark-color: rgb(146, 64, 38);
        $base-light-color: rgb(246, 216, 188);

        $ring-dark-color: rgb(38, 146, 98);
        $ring-light-color: rgb(211, 252, 228);

        --light-color: #{$base-light-color};
        --dark-color: #{$base-dark-color};

        &, :global(.UsBoardSpace-root) {
            &:first-of-type, &:last-of-type {
                --light-color: #{$ring-light-color};
                --dark-color: #{$ring-dark-color};
            }
        }

        &:nth-of-type(odd) {
            :global(.UsBoardSpace-root) {
                &:nth-of-type(odd) {
                    --space-color: var(--light-color);
                }

                &:nth-of-type(even) {
                    --space-color: var(--dark-color);
                }
            }
        }

        &:nth-of-type(even) {
            :global(.UsBoardSpace-root) {
                &:nth-of-type(odd) {
                    --space-color: var(--dark-color);
                }

                &:nth-of-type(even) {
                    --space-color: var(--light-color);
                }
            }
        }
    }

    .space-icon {
        border-radius: 100%;
        line-height: 1;
        width: 20px;
        height: 20px;
        font-size: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .space-button {
        @extend .space-icon;

        border: none;
        padding: 0;
        cursor: pointer;
        position: absolute;
        top: unset;
        bottom: 5px;
        right: 5px;

        &:hover {
            filter: brightness(1.2);
        }

        &:active {
            filter: brightness(0.8);
        }
    }

    .immobilized-icon {
        @extend .space-icon;

        background-color: cornflowerblue;
        color: white;
    }

    .self-capture-button {
        @extend .space-button;

        background: darkred;
        color: white;
        padding: 1px;
    }

    .mutual-capture-button {
        @extend .space-button;

        background: darkorange;
        color: white;
        padding: 1px;
        font-size: 15px;

        &[aria-pressed="true"] {
            transform: scale(1.25);

            &:not(:hover):not(:active) {
                filter: brightness(0.9);
            }
        }
    }
}
