.space {
    //The parent is expected to size the space, typically using a grid layout
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--space-color);
    position: relative;
}
