$sidebar-breakpoint: 1200px;

.game-base {
    $padding: 10px;
    $toolbar-height: 2.4em;
    $turn-bar-height: 1.5em;
    $capture-bar-height: max(5vh, 2.45em);
    $gap: 5px;
    $vertical-board-space: calc(
        100vh - ($toolbar-height + $turn-bar-height + $capture-bar-height * 2 + $gap * 4 + $padding * 2)
    );
    $board-width: min(calc(#{$vertical-board-space} * (var(--board-width-ratio))), 100%);

    --board-width-ratio: 1;

    width: 100%;
    height: 100%;
    padding: $padding;
    display: grid;
    grid: "toolbar"         #{$toolbar-height}
          "turn"            #{$turn-bar-height}
          "top-captures"    #{$capture-bar-height}
          "board"           auto
          "bottom-captures" #{$capture-bar-height}
          "sidebar"         auto /
           100%;
    gap: $gap;
    justify-items: center;

    @media (min-width: $sidebar-breakpoint) {
        grid: "toolbar         toolbar" #{$toolbar-height}
              "turn            sidebar" #{$turn-bar-height}
              "top-captures    sidebar" #{$capture-bar-height}
              "board           sidebar" auto
              "bottom-captures sidebar" #{$capture-bar-height} /
               75fr            25fr;
    }

    .toolbar {
        grid-area: toolbar;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: stretch;
    }

    .turn {
        grid-area: turn;
        border: 2px solid black;
        padding: 2px;
        margin: 0;
        width: $board-width;
        line-height: 1;

        &.white {
            background-color: white;
            color: black;
        }

        &.black {
            background-color: black;
            color: white;
        }
    }

    .sidebar {
        grid-area: sidebar;
        max-width: 50vw;

        .piece-info-container {
            margin-top: 15px;
        }
    }

    .captures-container {
        display: flex;
        width: $board-width;
        height: 100%;

        &.top {
            grid-area: top-captures;
            flex-direction: row;
        }

        &.bottom {
            grid-area: bottom-captures;
            flex-direction: row-reverse;
        }
    }

    .board {
        grid-area: board;
        width: $board-width;
        aspect-ratio: var(--board-width-ratio);
    }
}
