@mixin list-button {
    appearance: none;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;

    &:hover, &:focus-visible {
        outline: none;
        box-shadow: inset 0 0 0 3px black
    }

    &:active {
        background-color: lightslategray;
    }
}

.captured-piece {
    @include list-button;

    //Trick for making something conditionally a button without committing the sin of toggling ARIA roles:
    //visibility: hidden not only hides an element from all access types, but also has the unique property
    //that it can be overridden by children. So make the root element a button, make the button invisible when inactive,
    //and then wrap the button's contents in a div that's set to always be visible
    visibility: hidden;
    cursor: default;

    &.button-mode {
        visibility: visible;
        cursor: pointer;
    }

    .captured-piece-content {
        visibility: visible;
        position: relative;
        width: 100%;
        height: 100%;

        .count {
            position: absolute;
            right: 2.5%;
            bottom: 2.5%;
            background: white;
            border-radius: 100%;
            padding: 0 2px;
        }

        :global(.UsDisplayPiece-root) {
            position: absolute;
        }
    }

    &.single .captured-piece-content :global(.UsDisplayPiece-root) {
        width: 95%;
        height: 95%;
        left: 2.5%;
        top: 2.5%;
    }

    &.multiple .captured-piece-content :global(.UsDisplayPiece-root) {
        &:first-of-type {
            width: 90%;
            height: 90%;
            left: 2.5%;
            top: 2.5%;
        }

        &:nth-of-type(2) {
            width: 85%;
            height: 85%;
            right: 2.5%;
            bottom: 2.5%;
        }
    }
}

.cancel-button {
    @include list-button;
}

.captured-piece-list {
    $border-radius: 5px;
    $gap: 5px;

    display: flex;
    flex-direction: row;
    gap: $gap;
    list-style: none;
    margin: 0;
    padding: 0;
    //I originally had width: min-content here, but there seems to be some bug in Firefox where a width
    //resulting from aspect-ratio doesn't properly contribute to the content width of the element's parent.
    //Instead, I'm just embracing having a width of 0 and letting the (otherwise correct) list contents overflow,
    //using justify-content: end on the bottom list to align it to the right edge correctly.
    //The border-radius is applied to the first and last buttons rather than the container itself.
    width: 0;
    height: 100%;

    :global(.UsGameBase-capturesContainerBottom) & {
        justify-content: end;
    }

    //Since the width is 0 we can't set a background directly on the list, so set it on the buttons instead
    &.select-mode > * {
        $background-color: lightsteelblue;

        //Don't eat the active color due to specificity
        //(this feels more readable than rearranging stuff)
        &:not(:active) {
            background-color: $background-color;
        }

        //Use pseudo-elements to fill in the gaps between the buttons (this is such a hack...)
        &:not(:last-child)::after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: $gap;
            top: 0;
            left: 100%;
            background-color: $background-color; //Can't just use inherit because that would be affected by hover
        }
    }

    > * {
        position: relative;
        height: 100%;
        aspect-ratio: 1;

        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}
