.piece-info {
    .display {
        width: 75%;
        margin: auto;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header {
        text-align: center;
        font-size: larger;
        font-weight: bold;
    }
}
