.join-room, .join-room form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.join-room {
    hr {
        width: 90%;
    }

    h2 {
        margin: 0;
    }
}
